{
  "development": {
    "username": "{{ DATABASE_USERNAME }}",
    "password": "{{ DATABASE_PASSWORD }}",
    "database": "{{ DATABASE_NAME }}",
    "host": "{{ DATABASE_HOST }}",
    "dialect": "postgres"
  }
}